{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="profile-page">
        <div class="user-info">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 offset-md-1">
                        <img src="{{ user.image }}" class="user-img" />
                        <h4>{{ user.username }}</h4>
                        <p>
                            {{ user.bio }}
                        </p>
                        {% if user is same as(app.user) %}
                            <a class="btn btn-sm btn-outline-secondary action-btn"
                            href="{{ path('app_settings') }}">
                                <i class="ion-gear-a"></i>
                                &nbsp; Edit Profile Settings
                            </a>
                        {% else %}
                            {% include 'components/follow-button.html.twig' with {'author': user} %}&nbsp;
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <div class="articles-toggle">
                        <ul class="nav nav-pills outline-active">
                            <li class="nav-item">
                                <a class="nav-link {{ tab and tab == 'all' ? 'active' :'' }}" href="{{ path('app_profile', {username: user.username}) }}">My Articles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ tab and tab == 'favorited' ? 'active' :'' }}" href="{{ path('app_profile_favoritedarticles', {username: user.username}) }}">Favorited Articles</a>
                            </li>
                        </ul>
                    </div>

                    {% for article in paginatedArticles %}
                        {% include 'home/components/article-preview-item.html.twig' with {'article': article} %}
                    {% endfor %}

                    {% include 'components/pagination.html.twig' with {currentPage: currentPage, lastPage: lastPage, targetLink: 'app_profile' ~ (tab == 'favorited' ? '_favoritedarticles' : '')} %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
