{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="home-page">
        <div class="banner">
            <div class="container">
                <h1 class="logo-font">conduit</h1>
                <p>A place to share your knowledge.</p>
            </div>
        </div>

        <div class="container page">
            <div class="row">
                <div class="col-md-9">
                    <div class="feed-toggle">
                        <ul class="nav nav-pills outline-active">
                            <li class="nav-item">
                                <a class="nav-link" href="">Your Feed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="">Global Feed</a>
                            </li>
                        </ul>
                    </div>

                    {% for article in paginatedArticles %}
                        {% include 'home/components/article-preview-item.html.twig' with {'article': article} %}
                    {% endfor %}


                    Page {{ currentPage }} of {{ lastPage }}


                    <ul class="pagination">
                        {% for page in  1..lastPage %}
                        <li class="page-item {% if page == currentPage %} active {% endif %}">
                            <a class="page-link" href="?page={{ page }}"
                               hx-get="{{ path('app_home', {'page': page}) }}"
                               hx-target="body"
                               hx-swap="outerHTML"
                               hx-replace-url="true"
                            >
                                {{ page }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3">
                    <div class="sidebar">
                        <p>Popular Tags</p>

                        <div class="tag-list">
                            <a href="" class="tag-pill tag-default">programming</a>
                            <a href="" class="tag-pill tag-default">javascript</a>
                            <a href="" class="tag-pill tag-default">emberjs</a>
                            <a href="" class="tag-pill tag-default">angularjs</a>
                            <a href="" class="tag-pill tag-default">react</a>
                            <a href="" class="tag-pill tag-default">mean</a>
                            <a href="" class="tag-pill tag-default">node</a>
                            <a href="" class="tag-pill tag-default">rails</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
