{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="settings-page">
        <div class="container page">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">Your Settings</h1>

                    {% if not form.vars.valid %}
                        <ul class="error-messages">
                            {% for child in form.children %}
                                {%for error in child.vars.errors%}
                                    <li>{{error.message}}</li>
                                {%endfor%}
                            {%endfor%}
                        </ul>
                    {%endif%}

                    {{ form_start(form) }}
                        <fieldset>
                            <fieldset class="form-group">
                                {{ form_widget(form.image, {'attr': {'class': 'form-control', 'placeholder': 'URL of profile picture'}}) }}
                            </fieldset>
                            <fieldset class="form-group">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Your Name'}}) }}
                            </fieldset>
                            <fieldset class="form-group">
                                {{ form_widget(form.bio, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Short bio about you', rows: 8}}) }}
                            </fieldset>
                            <fieldset class="form-group">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Email'}}) }}
                            </fieldset>
                            <fieldset class="form-group">
                                {{ form_widget(form.password, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'New Password'}}) }}
                            </fieldset>
                            <button class="btn btn-lg btn-primary pull-xs-right">Update Settings</button>
                        </fieldset>
                    {{ form_end(form) }}
                    <hr/>
                    <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Or click here to logout.</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
