<div class="article-preview">
    <div class="article-meta">
        <a href="{{ path('app_profile', {'username': article.author.username}) }}"><img src="{{ article.author.image }}"/></a>
        <div class="info">
            <a href="{{ path('app_profile', {'username': article.author.username}) }}" class="author">{{ article.author.username }}</a>
            <span class="date">{{ article.createdAt | date("F, d") }}</span>
        </div>
        <button class="btn btn-outline-primary btn-sm pull-xs-right">
            <i class="ion-heart"></i> {{ article.favoritedCount }}
        </button>
    </div>
    <a href="/article/{{ article.slug }}" class="preview-link">
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
        <span>Read more...</span>
        <ul class="tag-list">
            <li class="tag-default tag-pill tag-outline">realworld</li>
            <li class="tag-default tag-pill tag-outline">implementations</li>
        </ul>
    </a>
</div>
