<div class="article-meta">
    <a href="{{ path('app_profile', {'username': article.author.username }) }}"><img src="{{ article.author.image }}" /></a>
    <div class="info">
        <a href="{{ path('app_profile', {'username': article.author.username }) }}"
           class="author">{{ article.author.username }}</a>
        <span
            class="date">{{ article.createdAt | date("F j Y") }} {% if article.updatedAt is not null %}, updated: {{ article.updatedAt | date("F j Y") }}{% endif %}</span> {#  TODO #}
    </div>
    {% if app.user and article.author.username != app.user.username %}
        {% include 'components/follow-button.html.twig' with {'author': article.author, 'following': following} %}&nbsp;
    {% endif %}
    &nbsp;&nbsp;
    {% include 'components/favorite-button.html.twig' with {'article': article, 'format': 'large'} %}
    {% if app.user and article.author.username == app.user.username %}
        <a class="btn btn-sm btn-outline-secondary"
           href="{{ path('app_editor_edit', {'id': article.id, 'slug': article.slug}) }}">
            <i class="ion-edit"></i> Edit Article
        </a>
        <a class="btn btn-sm btn-outline-danger" href="{{ path('app_article_delete', {'id': article.id}) }}" hx-delete="{{ path('app_article_delete', {'id': article.id}) }}">
            <i class="ion-trash-a"></i> Delete Article
        </a>
    {% endif %}
</div>
