{% if not form.vars.valid %}
    <ul class="error-messages">
        {% for child in form.children %}
            {% for error in child.vars.errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
{% if hxTarget == 'app_editor_new' %}
    {{ form_start(form, {attr: {'hx-post': path('app_editor_new')}}) }}
{% else %}
    {{ form_start(form, {attr: {'hx-post': path('app_editor_edit', {'id': form.vars.value.id, 'slug': form.vars.value.slug})}}) }}
{% endif %}
<fieldset>
    <fieldset class="form-group">
        {{ form_widget(form.title, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Article Title'}}) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'What\'s this article about?'}}) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_widget(form.body, {'attr': {'class': 'form-control', 'rows': 8, 'placeholder': 'Write your article (in markdown)'}}) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_widget(form.tags, {'attr': {'class': 'form-control', 'placeholder': 'Enter tags'}}) }}
    </fieldset>
    <button class="btn btn-lg pull-xs-right btn-primary" type="submit">
        Publish Article
    </button>
</fieldset>
{{ form_end(form) }}

<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@4.0.1/dist/js/multi-select-tag.min.js"></script>
<script>
    var tagSelector = new MultiSelectTag('{{ form.tags.vars.id }}', {
        required: false,
        placeholder: 'Select or search tags',
    });
</script>
