{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} -- {{ parent() }}{% endblock %}

{% block main_content %}
    <div class="article-page">
        <div class="banner">
            <div class="container">
                <h1>{{ article.title }}</h1>
                {% include 'article/components/article-meta.html.twig' %}
            </div>
        </div>

        <div class="container page">
            <div class="row article-content">
                <div class="col-md-12">
                    <div>{{ article.body | markdown_to_html }}</div>
                    <ul class="tag-list">
                        {% for tag in article.tags %}
                            <li class="tag-default tag-pill tag-outline">{{ tag.label }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <hr />

            <div class="article-actions">
                {% include 'article/components/article-meta.html.twig' %}
            </div>

            {{ render(controller('App\\Controller\\CommentsController::showAll', {article: article})) }}

        </div>
    </div>
{% endblock %}
